<div><h1 style="background-color: aqua;color: black; text-align: center;font-size: 50px">Expense Manager
<img src="../assets/notes.jpg" style="width:100px;height: 100px"></h1>
</div>
<!-- <app-addexpense routerLink="/addexpense" routerLinkActive="colorchange">Add Expense</app-addexpense>
<app-home routerLink="/home" routerLinkActive="colorchange">Home</app-home>
<app-showexpense routerLink="/showexpense" routerLinkActive="colorchange">Show Expense</app-showexpense>
<app-sortbydate routerLink="/sortbydate" routerLink="colorchange">Sort by date</app-sortbydate> -->
<nav style="background-color: purple;color:white;">
<a routerLink="/Home" routerLinkActive="colorchange" >Home</a> || 
<a routerLink="/addexpense" routerLinkActive="colorchange">Addexpense</a> ||

<a routerLink="/showexpense" routerLinkActive="colorchange">Show Expense</a> || 
<a routerLink="/sortbydate" routerLinkActive="colorchange">Sort by date</a> ||

</nav>
<router-outlet></router-outlet>
